html
{
	background-color: #f5f5f5;
}
body
{
	margin: 0;
    padding: 0;
}

ul
{
	text-decoration: none;
    list-style-type: none;
    padding: 0 0.2% 0 0;
}

/* login form for admin */
.adloginform
{
	
	width: 300px;
	margin: 0 auto;
	text-align: center;
}


/* admin_view style */
.container
{
	position: relative;
	display: inline block;
}

.leftSideBar
{
	margin: 0 auto;
	float: left;
	height: 100%;
	width: 25%;
	min-height: 70%;
	border-right: 2px solid black;
	background-color: #f5f5f5;
}

.featureItem0
{
	font-size: 16px;
	min-width: 23%;
	min-height: 10%;
	padding: 1em 0 0 1em;
}

.featureItem1
{
	font-size: 16px;
	min-width: 23%;
	min-height: 10%;
	background-color: grey;
	padding: 1em 0 0 1em;
}


.viewArea
{
	float: left;
	height: 100%;
	background-color: #f5f5f5;	
}

.displayd
{
	float: left;
	width: 98%;
	height: 20%;
	
	border: 1px solid #f5f5f5;
	border-radius: 1%;
	box-shadow: 8px 8px 5px #888888;
	
	margin: 1em 0 0 0.25em;
	padding: 0.1em 0.3em 0.1em 0.3em;
	
	position: relative;
	display: inline block;

}

.displaydup
{
	width: 100%;
	height: 60%;
}

.displayddown
{
	height: 20%;	
	text-align: right;
	display: block inline;
}
.displayddown ul 
{
    list-style-type: none;
    overflow: hidden;    
}

.displayddown li 
{
    float: right;
}

.displayddown li a 
{
    display: block;
    padding: 1em;
    text-align: right;
    text-decoration: none;
}

.displayddown li a:hover 
{
    background-color: #111111;
}
/* =========================================== */

/* admin add_feature style */
.topbarftch > .btn-primary
{
	width: 50%;
	float: left;
}
/* =========================================== */